<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        div{
            background-color: #2fde9e;
            height: 60px;
            display: flex;
            margin: auto;
            margin-top: 200px;
            width: 200px;
            justify-content: center;
            align-items: center;
            border-radius: 5px;
        }
        p{
            text-align: center;
            justify-content: center;
        }
        body{
            background-color: #ff5200;
        }
    </style>
</head>
<body>
    <div><p>Item added to Cart!</p></div>
</body>
</html>