<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        div{
            display: flex;
            border: 1px groove black;
            width: 300px;
            margin: auto;
            margin-top: 200px;
            padding: 25px;
            justify-content: center;
            background-color:bisque;
            border-radius: 5px;
        }
        p{
            padding: 10px, 20px;
        }
        body{
            background-color: #ff5200;
        }
    </style>
</head>
<body>
    <div>
    <p>Login failed, Invalid username or password!</p>
    </div>
</body>
</html>